# Dossier des dépendances
/node_modules/

# Fichiers de build et de distribution
/dist/
/build/

# Fichiers de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'environnement
.env
.env.local
.env.development
.env.test
.env.production

# Fichiers temporaires
*.tmp
*.temp

# Fichiers de cache
.cache/
coverage/

# Fichiers générés par les éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp